<ion-tabs class="tabs-icon-top tabs-color-active-positive">

	<ion-tab title="首页" icon-off="iconfont icon-home" icon-on="iconfont icon-home" href="#/tab/home">
		<ion-nav-view name="tab-home"></ion-nav-view>
	</ion-tab>

	<ion-tab title="帮客课堂" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/class">
		<ion-nav-view name="tab-class"></ion-nav-view>
	</ion-tab>

	<ion-tab title="个人中心" icon-off="iconfont icon-my" icon-on="iconfont icon-my" href="#/tab/my">
		<ion-nav-view name="tab-my"></ion-nav-view>
	</ion-tab>

</ion-tabs>
