<ion-view view-title="修改登录密码" hide-nav-bar="true">
	<ion-header-bar>
		<div class="common-header">
			<i class="iconfont icon-back" ng-click="$ionicGoBack()"></i>
			<h3>修改登录密码</h3>
		</div>
	</ion-header-bar>
	<ion-content class="bodybg-normal">
		<div class="t_up_wrap" ng-if="!mess.bol">
			<p class="t_list">
				<label class="flex">
					<span>旧&nbsp;&nbsp;密&nbsp;&nbsp;码</span>
					<input type="password" maxlength="16" class="t_input flex_1" ng-model="mess.old.psd">
					<a class="t_pd" ui-sref="auth.resetPsd">忘记密码?</a>
				</label>
			</p>
			<p class="t_list">
				<label class="flex">
					<span>新&nbsp;密&nbsp;&nbsp;码</span>
					<input type="password" maxlength="16" class="t_input flex_1" ng-model="mess.old.setpsd">
				</label>
			</p>
			<p class="t_list">
				<label class="flex">
					<span>确认密码</span>
					<input type="password" maxlength="16" class="t_input flex_1" ng-model="mess.old.rsetpsd">
				</label>
			</p>
			<button class="t_update_btn" ng-class="{'on':mess.old.psd.length>=6 &&mess.old.setpsd.length>=6 && mess.old.rsetpsd.length>=6}" ng-disabled="mess.old.psd.length<6" ng-click="mess.testPsd(mess.old.psd,mess.old.setpsd,mess.old.rsetpsd)">下一步</button>
		</div>
	</ion-content>
</ion-view>
